<h4>Danh sách tài sản</h4>
<table class="table table-bordered table-inverse">
    <thead>
        <tr class="text-center">
            <td>
                <input type="checkbox" name="name" value="" />
            </td>
            <td>STT</td>
            <td>Mã tài sản</td>
            <td>Tên tài sản</td>
            <td>Ngày mua</td>
            <td>Ngày kê khai</td>
            <td>Giá trị</td>
            <td>Hành động</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-center">
                <input type="checkbox" name="name" value="" />
            </td>
            <td class="text-center">1</td>
            <td>Bàn</td>
            <td>Ghế</td>
            <td>10-10-2010</td>
            <td>20-10-2010</td>
            <td>20.20000</td>
            <td class="text-center"><a>Xóa</a> <a>Sửa</a></td>
        </tr>
    </tbody>
</table>
